html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

#connecting {
  color: red;
}

h2 {
  text-align: center;
}

#messages {
  width: 60%;
  margin: auto;
  height: 50%;
  border-style: solid;
  background-color: LightGrey;
  box-sizing: border-box;
  overflow-y: auto;
}

#message-form {
  width: 60%;
  height: 33px;
  margin: auto;
}

#message-form div {
  width: 80%;
  height: 100%;
  margin: 10px auto 0 auto;
  text-align: center;
}

#message-input {
  width: 69%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 125%;
}

#submit-message {
  width: 113px;
  height: 100%;
  margin: 0 0 0 10px;
  padding: 0;
}

/* Center placeholder */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.message-wrapper {
  display: block;
}

.message {
  padding: 7px;
  border-style: solid;
  border-radius: 13px;
  display: inline-block;
  word-wrap: break-word;
  margin: 0;
  max-width: 95%;
}

.their-message {
  text-align: right;
  margin: 0 10px 0 35%;
}


.my-message {
  text-align: left;
  margin: 1px 35% 0 10px;
}

.their-message > .message {
  background-color: #bbb8b9;
}

.my-message > .message {
  background-color: #868694;
}

.message-wrapper > span {

}

.my-message > span {
  margin: 0 0 0 8px;
}

.their-message > span {
  margin: 0 8px 0 0;
}

/* Login page */
#login {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
}

#login-form {
  width: 500px;
  height: 100px;
  margin: auto;
  font-size: 30px;
}

#name-input {
  width: 90%;
  height: 90%;
  font-size: 40px;
  margin: 5px;
}
